/* Contact */
.container {
    font-family: $fuentePrincipal;
    font-size: 2rem;

    input,
    textarea {
        font-size: 1.5rem;
        background-color: $secundario;
    }

    .description_required {
        font-style: italic;
        color: $secundarioOscuro;
        font-size: 1.5rem;
    }

    .form-label {
        color: $secundario;
    }
    
    #submit {     
        width: 200px;
        font-size: 2rem;
        background-color: $primarioClaro;
        border: 1px solid $primario;    
    }

    .btn-primary:hover {
        background-color: $primario;
        color: $secundario;
    }
}